



.box {
    grid-template-rows: 1fr;
    grid-template-columns: 1fr;
/*    grid-column: 4 / 9;*/
    border-color: black;
}


.container {
    display: grid;
    grid-template-columns: repeat(12, 100);
/*    grid-template-rows: repeat(5, 100);*/
/*
    align-items: left;
    justify-content: center;
*/
/*
    justify-items:center;
    align-items:center;
*/
}


.a {
    align-self: center;
    justify-self: center;
    grid-column-start: 1;
    grid-column-end: 4;
}



.box {
    border-radius: 2px;
}

#title{
    top: 30px;
    letter-spacing: 12px;
    font: 40px Ultra, Arial;
    border: none;
    background-color: whitesmoke;
/*    height: 100px;*/
    color: palevioletred;
    opacity: 0.60;
}

.b {
    justify-self: left;
    width: 50%;

}

.c {
/*    width: 180%;*/
    height: 1000px;
    background-color: #F6D7E1;
    border: 2px black solid;
    grid-column-start: 2;
    grid-column-end: 3;
    overflow: scroll;


}

.d {
    justify-self: right;
    width: 50%;
}

html {
    background-color: whitesmoke;
    overflow: hidden;
}

#form {
    display: block;
    font: Arial;
    font-weight: 700;
    letter-spacing: 0.15em;
    padding: 50px;
    overflow: scroll;
    

    
    
}

#deetsLabel, #priceQ, #toneQ {
    font-family: "Corbel";
    color: #8C96E6;
    letter-spacing: 0.3em;
    font-size: 20px;
}

#fnametext, #lnametext, #email, #age, #country{
    margin: 10px;
    font: Futura;
    font-weight: 900;
    letter-spacing: 0.5em;
    width: 200px;
    left: 350px;
    color: black;
}

#option1, #option2, #option3, #option4, #option5 {
    font-family: "Corbel";
    color: #8C96E6;
    
}

#priceopp {
    padding: 2px;
    margin: 10px;
    color: black;

}
label[id="option2"],label[id="option1"] {
    display: block;
}



